<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<h3>Welcome to prismic client API</h3>
<div class="flex flex-row">
	<input type="text" id="test-input">
	<button id="test-button">Try document</button>
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$("#test-button").click(function(){
	var document_id = $("#test-input").val();
	$.ajax({
		url: '/graphql', // /*[[@{/api/prismic/document}]]*/,
		method: "post",
		dataType: "json",
		contentType: "application/json",
		data: '{"id":"1"}'
	});
});
/*]]>*/
</script>

</body>
</html>